/* calendar event */
.calendar_default_event_inner {
    background: rgba(254, 254, 254, 0.5); /* Use RGBA value with alpha set to 0.5 for 50% transparency */
    color: rgb(10, 1, 1);
    border: none;
    border-radius: 5px;
    font-size: 10pt;
    padding: 7px 30px; /* Adjust the top (20px) and left (40px) padding as per your requirement */
}

.eventButton {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .eventButton:hover {
    background-color: #e2e2e2;
  }

/* outer duration bar box, uses full height, light blue */
.calendar_default_event_bar { top: 0px; bottom: 0px; left: 0px; width: 0px; background-color: #944042; }

/* inner duration bar box, displays the duration, dark blue */
.calendar_default_event_bar_inner { position: absolute; width: 20px; background-color: #dd3210; }
